canvas{
	display: block;
	margin: 0 auto;
}
canvas, button{
	display: block !important;
	margin: 0 auto !important;
}
canvas{
	position: relative;
}
@media (max-width: 1300px) {
	div{
		display: none;
	}
	button{
		left: 56.1% !important;
	}
	}
@media (min-width: 900px) {
button {
	background-color: #DAD996 !important;
	border-color: #DAD996 !important;
	border-radius: 15px !important;
	position: absolute;
	left: 54.5%;
	top: 459px;
	font: 20px Verdana !important;
}
}
@media (max-width: 450px) {
button {
	background-color: #DAD996 !important;
	border-color: #DAD996 !important;
	border-radius: 15px !important;
	font: 20px Verdana !important;
}
div {
	display: none;
}
}

div {
	background-color: #DAD996 !important;
	border-color: #DAD996 !important;
	color:  #DAD996 !important;
	border-radius: 15px !important;
	width: 290px;
	position: absolute;
	left: 40.4%;
	top: 509px;
}
body {
	background: url("../sourses/flappy_bird_fon.png") repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}